@model webapp.Models.ViewModels.ReportPricesListViewModel

@{
    ViewBag.Title = "Raport - cementy luz i worek";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @Html.ActionLink("Pobież jako XLS", "GetReportPricesXLS", "Manager", new { @class = "btn btn-default" })
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <h3 class="text-center">Cementy luz</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Producent</th>
                    <th>Nazwa</th>
                    <th>Średnia cena zakupu</th>
                    <th>Średnia cena sprzedaży</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lax)
                {
                    <tr>
                        <td>@item.GroupName</td>
                        <td>@item.Name</td>
                        <td>@item.Buy.ToString("#.00") zł</td>
                        <td>@item.Sell.ToString("#.00") zł</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <h3 class="text-center">Cementy pakowane</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Producent</th>
                    <th>Nazwa</th>
                    <th>Średnia cena zakupu</th>
                    <th>Średnia cena sprzedaży</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Packed)
                {
                    <tr>
                        <td>@item.GroupName</td>
                        <td>@item.Name</td>
                        <td>@item.Buy.ToString("#.00") zł</td>
                        <td>@item.Sell.ToString("#.00") zł</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

